<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active"><h4><strong>Dashboard</strong></h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-expense" routerLinkActive="active" ariaCurrentWhenActive="page"><h4><strong>Add Expense</strong></h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/category" routerLinkActive="active" ariaCurrentWhenActive="page"><h4><strong>Category</strong></h4></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
